[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
contextlib2 = "*"
colorama = "*"
xlrd = "*"
xlwt = "*"
pyyaml = "*"
pymysql = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
twine = "*"

[requires]
python_version = "3.6.3"
